[includeIf "gitdir:~/Documents/org/psi/"]
  path = .gitconfig-psi
[includeIf "gitdir:~/Documents/org/cybimu/"]
  path = .gitconfig-ctvnjhnrmmlp
[includeIf "gitdir:~/Documents/org/theblokc/"]
  path = .gitconfig-ctvnjhnrmmlp
[includeIf "gitdir:~/Documents/prof/prof/notations/"]
  path = .gitconfig-ctvnjhnrmmlp
[includeIf "gitdir:~/Documents/prof/prof/sandbox/"]
  path = .gitconfig-ctvnjhnrmmlp
[includeIf "gitdir:~/Documents/prof/cc/"]
  path = .gitconfig-ctvnjhnrmmlp
[includeIf "gitdir:~/Documents/prof/uc/"]
  path = .gitconfig-ctvnjhnrmmlp
[includeIf "gitdir:~/Documents/prof/devcon/"]
  path = .gitconfig-ctvnjhnrmmlp
[includeIf "gitdir:~/.dotfiles/"]
  path = .gitconfig-ctvnjhnrmmlp
[includeIf "gitdir:~/Documents/prof/awsugph/"]
  path = .gitconfig-ctvnjhnrmmlp
[includeIf "gitdir:~/Documents/prof/awsccuc/"]
  path = .gitconfig-awsccuc
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defauaultBranch = main
	defaultBranch = main
